/* Contact Hero */
.contact-hero {
    background: url('/media/contact-hero.jpg') no-repeat center fixed;
}

.list-group-item {
    background-color: transparent;
}

/* Social Icons */
.social .list-group {
    justify-content: space-around;
}

/* Input fields */
#contact-form .form-control {
    font-style: normal;
}

/* Subject Select Input */
#id_subject,
#id_subject option:not(:first-child) {
    font-style: normal;
}

#id_subject::placeholder,
#id_subject option:first-child {
    font-style: italic;
}