.social .list-group {
    justify-content: space-around;
}

.contact-container {
    height: 50vh;
    background: url('/media/home-hero.jpg') no-repeat center topfixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}