{% extends 'base.html' %}
{% load static %}

{% block extra_meta %}
<meta name="description"
    content="Vera's Reclaimed Treasures | Home to the online store for hand-painted, 
    upcycled home decor, selling affordable creative and unique gifts for eco-conscious people.">
<meta name="keywords"
    content="Online store, upcycled crafts, sustainable gifts, beautiful designs, 
    colourful mantras, creative gifts, cd-art, pebble-art, hand-painted glassware, 
    commissions, affordable prices">
{% endblock %}

{% block extra_title %} | Home{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid hero-container home-hero">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <section class="jumbotron text-center">
                <h1 class="jumbotron-header">Upcycled Home Decor</h1>
                <h2 class="lead">Revibe your space with a conscience</h2>
                <div class="my-5">
                    <a href="{% url 'products' %}" role="button" class="btn btn-lg btn-orange text-uppercase rounded py-2">Shop Now</a>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}