{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid cta-container">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <section class="cta jumbotron text-center">
                <h1 class="jumbotron-header">Upcycled Home Decor</h1>
                <h2 class="lead">Revibe your space with a conscience</h2>
                <div class="my-5">
                    <a href="#" role=button class="btn btn-lg cta-btn text-uppercase py-3">Shop Now</a>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}