<script>

    // Handles Enable/Disable
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`.id_qty_${itemId}`).val());
        var minvalue = document.getElementById('id_qty_' + itemId).min;
        var maxvalue = document.getElementById('id_qty_' + itemId).max;
        var minusDisabled = currentValue == minvalue;
        var plusDisabled = currentValue == maxvalue;
        // prop method sets disabled attr on buttons to true/false 
        // depending on whether current value is minvalue or maxvalue
        $(`.decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`.increment-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Ensures enabling/disabling all inputs on page load
    var allQtyInputs = $('.qty_input');
    for (var i = 0; i < allQtyInputs.length; i++) {
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Checks enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increments quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        // Gets item_id from button's data-item_id
        var itemId = $(this).data('item_id');
         // Gets the value of the quantity by product's id
        var currentValue = document.getElementById('id_qty_'+itemId).value;
        // Increments the quantity by 1
        document.getElementById('id_qty_'+itemId).value = Number(currentValue) + Number(1);
        
        handleEnableDisable(itemId);
    });

    // Decrements quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        // Gets item_id from button's data-item_id
        var itemId = $(this).data('item_id');
        var currentValue = document.getElementById('id_qty_'+itemId).value;
        document.getElementById('id_qty_'+itemId).value = Number(currentValue) - Number(1);
        
        handleEnableDisable(itemId);
    });

    // Limits max quantity to 3 on Made to Order products
    function checkstock(productId) {
        var stock = $('#stock-id-'+productId).attr('data-stock');
        if (stock == Number(0)) {
            var input = document.getElementById('id_qty_'+productId);
            input.setAttribute('max', 3);
        }
    }

</script>