.portrait {
    max-width: 25rem;
}

.landscape {
    max-width: 40rem;
}

.img-wrapper {
    border-radius: 8px;
    margin: 0 auto;
}

.about-img, .carousel {
    border-radius: 8px;
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.8);
}

.about-txt {
    font-size: 1.4rem;
}

/* Carousel Styling */
.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

.carousel-inner, .carousel-item, .card, .card-img {
    border-radius: 8px;
    border-style: none;
}

.slide-content {
    padding-top: 3rem;
}

.slide-content p {
    line-height: 1.2;
}