{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center mt-3 mb-4">
            <h1>Thank You</h1>
            <hr>
            <p class="text-black">Your order information is below.
                A confirmation email will be sent to 
                <strong> {{ order.email }}</strong>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            <a href="{% url 'products' %}?category=new,deals" 
                class="btn btn-green my-2">
                <span class="icon mr-2">
                    <i class="fa-solid fa-gifts" aria-hidden="true"></i>
                </span>
                <span class="text-uppercase">
                    Checkout the latest additions and deals!
                </span>
            </a>
        </div>
    </div>
</div>
{% endblock %}
