{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-5 mb-2">
                <h2>Shopping Basket</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                {{ request.session.basket }}
                    <div class="d-block d-lg-none mb-5 text-center">
                        <div class="basket-summary mb-4">
                            <p class="font-weight-bold">Basket Total: €{{ total|floatformat:2 }}</p>
                            <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                            <p class="font-weight-bolder">Grand Total: €{{ grand_total|floatformat:2 }}</p>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You're only <strong>€{{ free_delivery_delta }}</strong> away to qualify for free delivery!
                            </p>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url 'products' %}" class="btn btn-outline-green btn-lg">
                                <span class="icon">
                                    <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-green btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fa-solid fa-lock" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    {% for item in basket_items %}
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 mb-3">
                                    <img src="{{ item.product.image.url }}" 
                                        alt="{{ item.product.description }}" 
                                        class="img-fluid rounded">
                                </div>
                                <div class="col-sm-8 mb-3 my-auto">
                                    <div class="col-sm-12">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </div>
                                    <div class="row mx-auto">
                                        <div class="col-sm-6 w-50">
                                            <p class="my-0">€{{ item.product.price }}</p>
                                        </div>    
                                        <div class="col-sm-6 w-50">
                                            <p class="my-0">€{{ item.product.price }}</p>
                                            <p class="my-0">{{ item.product.quantity }} in basket</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="d-sm-none d-lg-block mb-2 float-right text-right">
                        <div class="basket-summary">
                            <p class="font-weight-bold">Basket Total: €{{ total|floatformat:2 }}</p>
                            <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                            <p class="font-weight-bolder">Grand Total: €{{ grand_total|floatformat:2 }}</p>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You're only <strong>€{{ free_delivery_delta }}</strong> away to qualify for free delivery!
                            </p>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url 'products' %}" class="btn btn-outline-green btn-lg">
                                <span class="icon">
                                    <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-green btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fa-solid fa-lock" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <p class="lead mb-5">You haven't added anything to your basket yet!</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                        </span>
                        <span class="text-uppercase">Back to Shop</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}