{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-5 mb-2">
                <h2>Shopping Basket</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if basket_items %}
                <!-- {{ request.session.basket }} -->
                    <div class="d-block d-md-none mb-5 text-center">
                        <div class="basket-summary mb-4">
                            <p class="font-weight-bold">Basket Total: €{{ total|floatformat:2 }}</p>
                            <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                            <p class="font-weight-bolder">Grand Total: €{{ grand_total|floatformat:2 }}</p>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You're only <strong>€{{ free_delivery_delta }}</strong> away to qualify for free delivery!
                            </p>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url 'products' %}" class="btn btn-outline-green btn-lg">
                                <span class="icon">
                                    <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-green btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fa-solid fa-lock" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                        <hr>
                    </div>
                    {% for item in basket_items %}
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 mb-2 col-md-3 mb-md-0">
                                    <img src="{{ item.product.image.url }}" 
                                        alt="{{ item.product.description }}" 
                                        class="img-fluid rounded">
                                </div>
                                <div class="col-sm-12 mb-2 text-center col-md-3 text-md-left my-md-auto">
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    <p class="my-0">€{{ item.product.price }}</p>
                                </div>    
                                <div class="col-sm-12 offset-1 col-md-3 offset-md-0 my-md-auto">
                                    <div class="py-3">
                                        <form action="" method="POST" class="form update-form">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group input-group-{{ item.item_id }}">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-green decrement-qty_{{ item.item_id }}" 
                                                            data-item_id="{{ item.item_id }}">
                                                            <span>
                                                                <i class="fa-solid fa-minus fa-sm" title="Decrease Quantity" aria-hidden="true"></i>
                                                                <span class="sr-only">Decrease Quantity</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input type="number" class="form-control form-control-sm qty_input id_qty_{{ item.item_id }}" 
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="10" 
                                                        data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-green increment-qty_{{ item.item_id }}" 
                                                            data-item_id="{{ item.item_id }}">
                                                            <span>
                                                                <i class="fa-solid fa-plus fa-sm" title="Increase Quantity" aria-hidden="true"></i>
                                                                <span class="sr-only">Increase Quantity</span>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <!-- <p class="my-0">{{ item.product.quantity }} in basket</p> -->
                                        <a class="update-link text-info"><small>Update</small></a>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}">
                                            <small>Remove</small>
                                        </a>
                                    </div>
                                </div>    
                                <div class="col-sm-12 mb-4 text-right col-md-3 my-md-auto">
                                    <p class="my-0"><strong>€{{ item.product.price }}</strong></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                    <div class="d-none d-md-block mb-2 float-right text-right">
                        <div class="basket-summary">
                            <p class="font-weight-bold">Basket Total: €{{ total|floatformat:2 }}</p>
                            <p>Delivery: €{{ delivery|floatformat:2 }}</p>
                            <p class="font-weight-bolder">Grand Total: €{{ grand_total|floatformat:2 }}</p>
                            {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You're only <strong>€{{ free_delivery_delta }}</strong> away to qualify for free delivery!
                            </p>
                            {% endif %}
                        </div>
                        <div>
                            <a href="{% url 'products' %}" class="btn btn-outline-green btn-lg">
                                <span class="icon">
                                    <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <a href="" class="btn btn-green btn-lg">
                                <span class="text-uppercase">Secure Checkout</span>
                                <span class="icon">
                                    <i class="fa-solid fa-lock" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <p class="lead mb-5">You haven't added anything to your basket yet!</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                        </span>
                        <span class="text-uppercase">Back to Shop</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {% include 'products/includes/quantity_input_script.html' %}
    <script type="text/javascript">
        
        // Update quantity on click
        $('.update-link').click(function(e) {
            // Find the most recently seen update form in the DOM
            var form = $(this).prev('.update-form');
            form.submit();
        });

        // Remove item and reload on click
        $('.remove-item').click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var url = `/basket/remove/${itemId}/`;
            var data = { 'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
                .done(function () {
                    location.reload();
                });
        })

    </script>
{% endblock %}