html {
    height: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* from Bulma - ensures that fontawesome icons stay 
centered and have a consistent size unless manually changed */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000;
}

.text-print {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
}

.text-green {
    color: #0b8e59;
}

.bg-black {
    background-color: #000;
}

.border-black {
    border: 1px solid #000;
}

.border-green {
    border: 1px solid #0b8e59;
}

h1,
h2,
h3,
.title-font {
    font-family: 'Amaranth', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 900;
}

.delivery-banner {
    /* background-color: #5d4a66; */
    background-color: #5e4352;
}

.form-control {
    font-size: 1.4rem;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.dropdown-item {
    font-size: 1.2rem;
}

/* Buttons */

.btn {
    font-size: 1.6rem;
}

.btn-green {
    background-color: #0b8e59;
    color: #fff;
    /* min-width: 260px; */
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background-color: rgb(54, 95, 54);
    color: #fff;
}

.btn-outline-green {
    background-color: #fff;
    color: rgb(54, 95, 54);
    border: 1px solid rgb(54, 95, 54);
}

.btn-outline-green:hover,
.btn-outline-green:active,
.btn-outline-green:focus {
    background-color: rgb(54, 95, 54);
    color: #fff;
}

.update-link,
.remove-link {
    cursor: pointer;
}

/* HEADER */

/* pad the top when navbar is collapsed on mobile */
.header-container {
    padding-top: 15rem;
}

.mobile-nav {
    display: contents;
}

/* TOASTS */

.message-container {
    position: fixed;
    top: 12.4rem;
    right: 5px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
    font-size: 1.2rem;
}

.toast-capper {
    height: 2px;
}

.arrow-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid #0b8e59;
    top: -10px;
    right: 4rem;
}

/* Convenience classes - some colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #0b8e59;
}

.arrow-secondary {
    border-bottom-color: #be3e82;
}

.arrow-success {
    border-bottom-color: #28a745;
}

.arrow-danger {
    border-bottom-color: #dc3545;
}

.arrow-warning {
    border-bottom-color: #ffc107;
}

.arrow-info {
    border-bottom-color: #17a2b8;
}

.arrow-light {
    border-bottom-color: #f8f9fa;
}

.arrow-dark {
    border-bottom-color: #343a40;
}

.basket-preview-wrapper {
    max-height: 10rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* CTA */
.cta-container {
    height: calc(90vh - 187px);
    background: url('/media/home-hero1.jpg') no-repeat center fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    color: #fff;
    background-color: transparent;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.jumbotron .lead {
    font-size: 1.8rem;
    letter-spacing: 1.5px;
}


/* Footer */

/* .footer-container {
    background-color: rgb(54, 95, 54);
    color: rgb(222, 237, 222);
} */

.footer-logo {
    display: block;
    padding: 0;
}

footer .list-group-item {
    line-height: 1.0;
}

footer a {
    color: #000;
}

footer a:hover,
footer a:focus {
    color: rgb(68, 136, 68);
}

footer .list-group {
    justify-content: space-evenly;
}

footer .list-group-horizontal>.list-group-item {
    background-color: rgb(170, 226, 170);
    border-radius: 50%;
}

footer .list-group-horizontal>.list-group-item:hover,
footer .list-group-horizontal>.list-group-item:focus {
    background-color: rgb(54, 95, 54);
}

footer .social {
    font-size: 1.8rem;
    color: #fff;
}

/* -------- */
/*   SHOP   */
/* -------- */

.category-badge>span.badge:hover,
.category-badge>span.badge:focus {
    background-color: rgb(54, 95, 54);
    color: #fff;
}

/* Product Detail */
.info-dropdown {
    padding: 0 .25rem;
    background: transparent;
    max-height: 3rem;
    overflow-y: auto;
}


/* ------------- */
/* Media Queries */
/* ------------- */

@media only screen and (min-width: 767px) {
    .cta-container {
        height: 100vh;
        background-size: cover;
    }
}


@media only screen and (min-width: 992px) {

    html {
        font-size: 75%;
    }

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media only screen and (min-width: 1024px) {

    .message-container {
        top: 7rem;
        right: 2.5rem;
    }

}

@media only screen and (min-width: 1200px) {

    /* Slightly larger container on xl screens */
    .container {
        max-width: 80%;
    }

}

@media only screen and (min-width: 1440px) {

    .message-container {
        right: 9rem;
    }
}

@media only screen and (min-width: 2560px) {

    html {
        font-size: 100%;
    }

    .header-container {
        padding-top: 12rem;
    }

    .message-container {
        right: 17rem;
    }
}