html {
    height: 100%;
    /* font-size: 62.5%; */
}

body {
    font-family: 'Poppins', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* from Bulma - ensures that fontawesome icons stay 
centered and have a consistent size unless manually changed */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.text-black {
    color: #000;
}

.bg-black {
    background-color: #000;
}

h1,
h2,
h3,
.title-font {
    font-family: 'Amaranth', sans-serif;
}

.delivery-banner {
    font-size: 20px;
}

/* Buttons */

.btn-green {
    background-color: rgb(104, 175, 104);
    color: #fff;
    /* min-width: 260px; */
}

.btn-green:hover,
.btn-green:active,
.btn-green:focus {
    background-color: rgb(54, 95, 54);
    color: #fff;
}

.btn-outline-green {
    background-color: #fff;
    color: rgb(54, 95, 54);
    border: 1px solid rgb(54, 95, 54);
}

/* CTA */
.cta-container {
    height: calc(90vh - 140px);
    background: url('/media/home-cta.jpg') no-repeat center fixed;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.jumbotron {
    color: #fff;
    background-color: transparent;
}




/* Footer */

/* .footer-container {
    background-color: rgb(54, 95, 54);
    color: rgb(222, 237, 222);
} */

.footer-logo {
    display: block;
    padding: 0;
}

footer .list-group-item {
    line-height: 1.0;
}

footer a {
    color: #000;
}

footer a:hover,
footer a:focus {
    color: rgb(68, 136, 68);
}

footer .list-group {
    justify-content: space-evenly;
}

footer .list-group-horizontal>.list-group-item {
    background-color: rgb(170, 226, 170);
    border-radius: 50%;
}

footer .list-group-horizontal>.list-group-item:hover,
footer .list-group-horizontal>.list-group-item:focus {
    background-color:rgb(54, 95, 54);
}

footer .social {
    font-size: 1.8rem;
    color: #fff;
}

/* -------- */
/*   SHOP   */
/* -------- */

.category-badge > span.badge:hover,
.category-badge > span.badge:focus {
    background-color: rgb(54, 95, 54);
    color: #fff;
}

/* Product Detail */
.info-dropdown {
    padding: 0 .25rem;
    background: transparent;
    max-height: 3rem;
    overflow-y: scroll;
}


/* ------------- */
/* Media Queries */
/* ------------- */

@media only screen and (max-width: 463px) {

    /* pad the top when navbar is collapsed on mobile */
    .header-container {
        padding-top: 240px;
    }
}

@media only screen and (min-width: 464px) {

    .header-container {
        padding-top: 210px;
    }
}

@media only screen and (min-width: 992px) {
    /* html {
        font-size: 100%;
    } */
    
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

@media only screen and (min-width: 1200px) {

    /* Slightly larger container on xl screens */
    .container {
        max-width: 80%;
    }
}