<!-- Main Navigation for Mobile & Desktop -->
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav">
        <!-- Home link for mobile only -->
        <li class="nav-item">
            <a class="title-font font-weight-bold nav-link text-black mx-lg-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <!-- Shop Dropdown -->
        <li class="nav-item dropdown">
            <a class="dropdown-toggle title-font font-weight-bold nav-link text-black mx-lg-5" 
                href="#" id="shop-link" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu text-center text-md-left border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=cds" class="dropdown-item">CDs</a>
                <a href="{% url 'products' %}?category=glassware" class="dropdown-item">Glassware</a>
                <a href="{% url 'products' %}?category=frames" class="dropdown-item">Frames</a>
                <a href="{% url 'products' %}?category=pebbles" class="dropdown-item">Pebbles</a>
                <a href="{% url 'products' %}?category=new" class="dropdown-item">New</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}?category=cds,glassware,frames,pebbles,new,deals" class="dropdown-item">All Products</a>
            </div>
        </li>
        <!-- About Page Link -->
        <li class="nav-item">
            <a class="title-font font-weight-bold nav-link text-black mx-lg-5" href="{% url 'about' %}" id="about-link">
                About
            </a>
        </li>
        <!-- Contact Page Link -->
        <li class="nav-item">
            <a class="title-font font-weight-bold nav-link text-black mx-lg-5" href="{% url 'contact' %}" id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</div>