<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="title-font font-weight-bold nav-link text-black mr-lg-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-black mr-lg-5" href="" id="shop-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu text-center text-lg-left border-0" aria-labelledby="shop-link">
                <a href="{% url 'products' %}?category=cds" class="dropdown-item">CDs</a>
                <a href="{% url 'products' %}?category=glassware" class="dropdown-item">Glassware</a>
                <a href="{% url 'products' %}?category=frames" class="dropdown-item">Frames</a>
                <a href="{% url 'products' %}?category=pebbles" class="dropdown-item">Pebbles</a>
                <a href="{% url 'products' %}?category=new" class="dropdown-item">New</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=cds,glassware,frames,pebbles,new,deals" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- <li class="nav-item dropdown">
            <a class="title-font font-weight-bold nav-link text-black mr-lg-5" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu text-center text-lg-left border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=theme&direction=asc" class="dropdown-item">By Theme</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li> -->

        <li class="nav-item">
            <a class="title-font font-weight-bold nav-link text-black mr-lg-5" href="#" id="about-link">
                About
            </a>
        </li>

        <li class="nav-item">
            <a class="title-font font-weight-bold nav-link text-black mr-lg-5" href="#" id="contact-link">
                Contact
            </a>
        </li>
    </ul>
</div>