{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h1 class="text-center mb-5">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center mb-5">
            <button type="submit" class="btn btn-green rounded mb-3" 
                name="action">{% trans "Change Password" %}</button>
            <a class="btn btn-outline-green rounded mb-3" 
                href="{% url 'account_login' %}">Back to Login</a>
        </div>
    </form>
{% endblock %}
