{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h1 class="text-center mb-5">{% trans "Register" %}</h1>

<p>{% blocktrans %}Already have an account? Then please 
    <a href="{{ login_url }}">log in</a>.{% endblocktrans %}
</p>

<form class="signup mb-5" id="signup_form" method="post" 
    action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" 
            value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="d-flex justify-content-between">
        <a class="btn btn-outline-green btn-sm rounded" href="{% url 'account_login' %}">
            Back to Login
        </a>
        <button type="submit" class="btn btn-green btn-sm rounded">
            {% trans "Register" %} &raquo;
        </button>
    </div>
</form>
<div class="text-center mb-5">
    <a href="{% url 'home' %}" class="btn btn-outline-green rounded ml-3">
        Home
    </a>
</div>
<hr>
{% endblock %}
