{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid contact-container">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <section class="contact-hero jumbotron text-center">
                <h1 class="jumbotron-header">Get in touch</h1>
                <h2 class="lead">Vera is always happy to help!</h2>
            </section>
        </div>
    </div>
</div>
{% endblock %}