{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'contact/css/contact.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

    {% if submitted %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 text-center success-message">
                    <h1>Thank You!</h1>
                    <p class="mt-5 mb-4">Your message was submitted successfully!<br>
                        I will get in touch within 2 working days.
                    </p>
                    <div class="text-center">
                        <a href="{% url 'home' %}" class="btn btn-outline-green">
                            <span class="icon">
                                <i class="fa-solid fa-chevron-left" aria-hidden="true"></i>
                            </span>
                            <span class="text-uppercase">Home</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
    {% else %}
        <div class="container-fluid contact-container">
            <div class="opaque-overlay">&nbsp;</div>
            <div class="row">
                <div class="col-12">
                    <section class="contact-hero jumbotron text-center">
                        <h1 class="jumbotron-header">Get in touch</h1>
                        <h2 class="lead">Vera is always happy to help!</h2>
                    </section>
                </div>
            </div>
        </div>
        <div class="container contact-page mt-5">
            <div class="row">
                <div class="col-12 col-lg-6 text-center">
                    <p>Do you have any question about my products? 
                        Or queries about an order?<br>
                        Send my your feedback, your suggestions or just say hello.  I'm always happy to hear
                        from my customers.  
                        Drop me a line or send me a message via the contact form.
                    </p>
                    <ul class="list-group">
                        <li class="list-group-item border-0">
                            <a href="tel:+356012345678" target="_blank" rel="noopener" aria-label="Call me on +356 012 345 678"
                                class="list-group-link">
                                <span class="icon">
                                    <i class="fa-solid fa-square-phone" aria-hidden="true"></i>
                                </span>
                                <span class="small ml-1">+356 01234567</span>
                            </a>
                        </li>
                        <li class="list-group-item border-0">
                            <a href="mailto:vera@reclaimedtreasures.mt" target="_blank" rel="noopener"
                                aria-label="Email us at vera@reclaimedtreasures.mt (opens in a new tab)"
                                class="list-group-link">
                                <span class="icon">
                                    <i class="fa-solid fa-square-envelope" aria-hidden="true"></i>
                                </span>
                                <span class="small ml-1">vera@reclaimedtreasures.mt</span>
                            </a>
                        </li>
                    </ul>
                    <div class="mt-2 social mx-auto w-50">
                        <ul class="list-group list-group-horizontal social">
                            <li class="list-group-item border-0">
                                <a href="https://www.facebook.com" target="_blank" rel="noopener"
                                    aria-label="Vera's Reclaimed Treasures Facebook Page (opens in a new tab)">
                                    <i class="icon fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-group-item border-0">
                                <a href="https://www.instagram.com" target="_blank" rel="noopener"
                                    aria-label="Vera's Reclaimed Treasures Instagram page (opens in a new tab)">
                                    <i class="icon fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Contact Form -->
                <div class="col-10 offset-1 mt-5 col-lg-6 offset-lg-0 mt-lg-0">
                    <h3 class="text-center mb-3 text-lg-left">Contact Form</h3>
                    <form action="{% url 'contact' %}" method="POST" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="mt-2 mb-3 submit-btn">
                            <input type="submit" value="Submit" role="button" 
                                class="btn btn-green rounded float-right">
                            <!-- <button class="btn btn-green rounded float-right" 
                                id="submit-btn">Submit</button> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}